body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
/* added google font style to h1 */
.custom-h1 {
  font-family: 'Montserrat', sans-serif;
}
/* changed font color */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/* changed background and font color */
.past {
  background-color: #d3d3d3;
  color: black;
}
/* changed background and font color */
.present {
  background-color: #e1ff75;
  color: black;
}
/* changed background and font color */
.future {
  background-color: #61dfff;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #faa6fd;
  color: rgb(27, 27, 27);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
